body {
    background-color: blueviolet;
}

#head {
    color: #ffffff;
}

section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box {
    border: 1px solid yellow;
    width: 50%;
}

.primeiro {
    background-color: cadetblue;
}

.segundo {
    background-color: pink;
}